@using ArchiveProject2019.Security
@using ArchiveProject2019.Resources

@{


    ViewBag.Title = main_lang.BackUpRestore.ToString();
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}





@if (ViewBag.Msg != null)
{






    if (ViewBag.Msg == "RestoreDbSuccess")
    {
                    <div class="alert alert-success enterRemove" style="text-align:center;font-size:larger">
                        <span class="glyphicon glyphicon-bell">

                        </span>
                        @main_lang.SuccessBackupForData
                    </div>
    }


    if (ViewBag.Msg == "RestoreFilesSuccess")
    {
                <div class="alert alert-success enterRemove" style="text-align:center;font-size:larger">
                    <span class="glyphicon glyphicon-bell">

                    </span>
                    @main_lang.SuccessBackupForFiles

                </div>
    }

    if (ViewBag.Msg == "RestoreFilesError")
    {
                <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
                    <span class="glyphicon glyphicon-bell">

                    </span>
                    @main_lang.RestoreFilesError


                </div>
    }

    if (ViewBag.Msg == "RestoreDbErrorType")
    {
                <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
                    <span class="glyphicon glyphicon-bell">

                    </span>
                    @main_lang.RestoreFileTypeError


                </div>
    }

    if (ViewBag.Msg == "RestoreFilesErrorType")
    {
            <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
                <span class="glyphicon glyphicon-bell">

                </span>
                @main_lang.RestoreFileTypeError
            </div>
    }


    if (ViewBag.Msg == "BackupDbError")
    {
                <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
                    <span class="glyphicon glyphicon-bell">

                    </span>
                    @main_lang.ErrorBackupData

                </div>
    }

    if (ViewBag.Msg == "RestoreDbError")
    {
                <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
                    <span class="glyphicon glyphicon-bell">

                    </span>
                    @main_lang.ErrorRestoreData

                </div>
    }


    if (ViewBag.Msg == "RestoreDbNullError")
    {
<div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
    <span class="glyphicon glyphicon-bell">

    </span>
    @main_lang.ErrorRestoreFileNull

</div>
    }

    if (ViewBag.Msg == "RestoreFilesNullError")
    {
<div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
    <span class="glyphicon glyphicon-bell">

    </span>
    @main_lang.ErrorRestoreFileNull

</div>
    }

    if (ViewBag.Msg == "BackupFilesError")
    {
<div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
    <span class="glyphicon glyphicon-bell">

    </span>
    @main_lang.ErrorBackupFiles

</div>
    }






}
<br />



<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@main_lang.BackupRestoreForData</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">




            @using (Html.BeginForm("DownloadDbBackUp", "BackupRestore", FormMethod.Post, new { enctype = "multipart/form-data", name = "myform", id = "myform" }))
            {


                <input type="submit" id="btnSubmit" class="btn btn-success" value="@main_lang.CreateBackupRestoreForData" />


            }


            <hr />
            @using (Html.BeginForm("UploadBackupDb", "BackupRestore", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <input type="file" name="BackupFile" />
                <br />
                <input type="submit" class="btn btn-success clickloading" value="@main_lang.RestoreBackupRestoreForData" />


            }



        </div>
    </div>
</div>




@if (ManagedAes.IsSaveInDb == false)
{




    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> @main_lang.BackupRestoreForFiles</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>


                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">



                @using (Html.BeginForm("BackUpFiles", "BackupRestore", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform2" }))
                {


                    <input id="btnSubmit2" type="submit" class="btn btn-warning" value="@main_lang.CreateBackupRestoreForFiles" />


                }



                <hr />

                @using (Html.BeginForm("UploadArchiveFiles", "BackupRestore", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="file" name="BackupFile" />
                    <br />
                    <input type="submit" class="btn btn-warning clickloading" value="@main_lang.RestoreBackupRestoreForFiles" />


                }
            </div>
        </div>
    </div>





}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $("#myform").submit(function (e) {

                //stop submitting the form to see the disabled button effect
                //  e.preventDefault();

                //disable the submit button
                $("#btnSubmit").attr("disabled", true);

                //disable a normal button


                return true;

            });



            $("#myform2").submit(function (e) {

                //stop submitting the form to see the disabled button effect
                //  e.preventDefault();

                //disable the submit button
                $("#btnSubmit2").attr("disabled", true);

                //disable a normal button


                return true;

            });
        });
    </script>


}

