@model ArchiveProject2019.Models.Field
    @using  ArchiveProject2019.Resources

@{
    ViewBag.Title =main_lang.FormFields;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsRequired)
                    @Html.ValidationMessageFor(model => model.IsRequired, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>






        <div class="form-group">
            @Html.LabelFor(model => model.EnableSearch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EnableSearch)
                    @Html.ValidationMessageFor(model => model.EnableSearch, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@


                @Html.DropDownListFor(model => Model.Type, new List<SelectListItem>() {
               new SelectListItem(){Value="float",Text=@main_lang.Float},
           new SelectListItem() { Text=@main_lang.EmailField,Value="email"},
           new SelectListItem() { Text=@main_lang.PhoneField,Value="phone"},

           //new SelectListItem(){Value="bool" ,Text="حقل منطقي"},
            new SelectListItem(){Value="date" ,Text=@main_lang.Date},
           new SelectListItem() { Value = "text", Text = @main_lang.Text}}, @main_lang.ChooseTypeSp, new { @style = "padding:4px", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <input type="submit" title="@main_lang.AddButton" value="@main_lang.AddButton" class="btn btn-primary" />
            <button type="button" title=" @main_lang.CloseButton" class="btn btn-warning" data-dismiss="modal">@main_lang.CloseButton</button>
        </div>




    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
