@model IEnumerable<ArchiveProject2019.Models.Field>
@using ArchiveProject2019.Models
@using ArchiveProject2019.HelperClasses
@using ArchiveProject2019.Resources
@{
    ViewBag.Title = main_lang.FormFields;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}


@if (ViewBag.Msg != null)
{


    if (ViewBag.Msg == "CreateError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.CreateError

        </div>
    }


    if (ViewBag.Msg == "CreateSuccess")
    {
        <div class="alert alert-info enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.CreateSuccess
        </div>
    }



    if (ViewBag.Msg == "EditSearch")
    {
        <div class="alert alert-info enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.EditSearch
        </div>
    }

    if (ViewBag.Msg == "EditSuccess")
    {
        <div class="alert alert-success enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.EditSuccess
        </div>
    }

    if (ViewBag.Msg == "EditError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.EditError

        </div>
    }


    if (ViewBag.Msg == "DeleteError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.DeleteError

        </div>
    }





    if (ViewBag.Msg == "DeleteSuccess")
    {
        <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            @main_lang.DeleteSuccess


        </div>
    }



}
@Html.Partial("_StartView")



<p>
    <button id="btnNewModel" title="@main_lang.AddButton" class="btn btn-primary"> @main_lang.AddButton</button>
    <button id="btnRefreshModel" title=" @main_lang.Refreshutton" class="btn btn-default glyphicon glyphicon-refresh"></button>
    <a title="@main_lang.GoToForm" href="@Url.Action("index","Forms")" class="btn btn-warning">@main_lang.GoToForm  </a>


</p>
<table id="form" class="table table-striped  table-hover dt" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.EnableSearch)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>

            <th>
                @Html.DisplayName(main_lang.Operations.ToString())


            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRequired)
                </td>
                <td>
                    @switch (item.Type)
                    {




                        case "float":
                            @:@main_lang.Float
































































































                            break;


                        case "date":
                            @:@main_lang.Date








                            break;

                        case "text":
                            @: @main_lang.Text




















                            break;
                        case "phone":
                            @:@main_lang.PhoneField
















                            break;
                        case "email":
                            @:@main_lang.EmailField








                            break;


                    }
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.EnableSearch)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>

                <td>
                    @if (CheckDelete.checkFieldsDelete(item.Id) == true)
                    {
                        <button data-form-id="@item.Id" title=" @main_lang.EditForIndex" class="js-Edit  btn-xs btn-success "><span class="glyphicon glyphicon-edit"></span></button>

                        <button data-form-id="@item.Id" title="@main_lang.DeleteButton" class="js-delete btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                    }
                    <button data-form-id="@item.Id" title=" @main_lang.Details" class="btn-default js-Details  btn-xs  glyphicon glyphicon-book"></button>
                    <button data-form-id="@item.Id" title=" @main_lang.EditSearchButton" class="btn-warning js-EditSearch  btn-xs  glyphicon glyphicon-edit"></button>


                </td>
            </tr>
        }
    </tbody>


</table>




@Html.Partial("_LastView")



@* Create Model Start *@
<div class="modal fade" tabindex="-1" id="NewModal"
     data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="changeText" class="modal-title"></h4>
            </div>
            <div class="modal-body" id="partialPlaceHolder" style="margin-top:30px">

            </div>
        </div>
    </div>
</div>
@* Create Model End *@



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#btnNewModel").on("click", function () {

        $("#changeText").text('@main_lang.AddNew');
                       var url = '@Url.Action("Create", "Fields")'

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });

      $("#btnRefreshModel").on("click", function () {

                       window.location.replace('@Url.Action("Index","Fields",new { Id = Convert.ToInt32(Session["Form_Id"]),msg="none" })');


                   });




    $("#form").on("click", ".js-Edit", function () {
        $("#changeText").text('@main_lang.EditElement');

                       var url = '@Url.Action("Edit", "Fields")';
                       url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });

    $("#form").on("click", ".js-delete", function () {

        $("#changeText").text('@main_lang.DeleteElement');

                       var url = '@Url.Action("Delete", "Fields")';
                       url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });

    


      $("#form").on("click", ".js-EditSearch", function () {
        $("#changeText").text('@main_lang.EditSearchModal');

                       var url = '@Url.Action("EditSerach", "Fields")';
                       url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });


    $("#form").on("click", ".js-Details", function () {
        $("#changeText").text('@main_lang.DetailsElement');

                       var url = '@Url.Action("Details", "Fields")';
                       url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });



</script>
