@model ArchiveProject2019.Models.RoleViewModel
@using ArchiveProject2019.Resources



@{
    ViewBag.Title = main_lang.Roles;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<h3>@main_lang.DeleteMessage</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>





    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("RoleId", (string)ViewBag.RoleId)




        <div class="modal-footer justify-content-center" style="margin-top:50px">
            <input type="submit" title="@main_lang.DeleteButton" value="@main_lang.DeleteButton" class="btn btn-danger" />

            <button type="button" title="@main_lang.CloseButton" class="btn btn-warning" data-dismiss="modal">@main_lang.CloseButton</button>
        </div>


    }
</div>
